@import "config";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: $light-color;
    font-family: $font-stack;
    font-size: 17px;
    line-height: 1.8em;
}
.max-width {
    width: 1300px;
    padding: 10px 80px 0 80px;
    margin: auto;
    
}

section {
    padding-top: 1em;
}

/* navbar style*/
.navbar {
    background-color: $light-color;
    width: 100%;
    padding-bottom: 10px;
    .menu li a {
        color: #000;
        font-weight: 500;
        margin: 0 40px;
        transition: color 0.3 ease;
        &:hover {
            color: lighten($color: $dark-color, $amount: 15);
            
        }
    }
    .menu li  {
        list-style: none;
        display: inline-block;
        border-style: solid;
        border-width: 1px;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }
    .max-width {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 200px;
        margin-left: 355px;
       
    }
    .menu li:first-of-type {
        margin-left: 60px;
    }
    .menu li:last-of-type {
        margin-right: 100px;
        border-right: none;
    }
}

.menu-mobile {
    color: black;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/* home style */

.home {
    background-color: $dark-color;
    height: 100%;
    color: $light-color;
    min-height: 500px;

    .max-width {
       margin: auto;           
       display: flex;
       justify-content: center;
       align-items: center;
       
       img {
        width: 50%;
         }
    }
    .home-content {

        .text-1 {
            line-height: 1.2;
            font-size: 50px;
            font-weight:200;
            
        }
        .text-2 {
            font-size: 20px;
            font-weight: 200;
        }
        .text-3 {
            font-weight: 300;
            font-size: 20px;
            margin: 5px 0;
            color: $ext-color;
            font-weight: 500;
        }
        a {
            display: inline-block;
            background: $light-color;
            color: black;
            font-size: 15px;
            padding: 10px 20px;
            margin-top: 10px;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 6px;
            transition: all 0.3 ease;
            &:hover {
                color: black;
                background: $ext-color;
                transform: scale(0.98);
            }
        }
    }

}

/* Projects style */

 .projects {   
     padding-top: 3em;
     .title {
        text-align: center;
        font-size: 36px; 
        font-weight: 700;
        margin-bottom: 60px;
        padding-bottom: 20px;
     }
     .projects-content {
        text-align: center;

        h3 {
            font-size: 28px; 
            font-weight: 700;
        }
        p {
            display: inline-block;
            color: $dark-color;
            font-weight: 300;
            font-size: 1.0em;
            text-align: justify;
            padding: 0 1em;
            margin: 10px auto 60px auto;
        }
     }
 }

/* About style */

    .about {
        color: $light-color;
        background-color: $dark-color;
        padding-top: 3em;
        .title {
            text-align: center;
            font-size: 36px; 
            font-weight: 700;
            margin-bottom: 60px;
            padding-bottom: 20px;
        }

        .about-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .left {
                width: 45%;
                
                img {
                    width: 400px;
                    height: 540px;
                    object-fit: cover;
                }
            }
            .right {
                width: 55%;
                p {
                    display: inline-block;
                    font-weight: 300;
                    font-size: 1.4em;
                    text-align: justify;
                    padding: 0 1em;
                    margin: 0 auto;
                    max-width: 540px;
                    
                }
            }
        }

        .skill-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            .skill {
                 width: 50%;
                h3 {
                    font-size: 30px; 
                    font-weight: 700;
                    margin-top: 60px;
                    margin-bottom: 20px;
                }
                i {
                    font-size: 30px;
                    padding: 20px;
                }
            }
            .toolbox {
                width: 50%;
                h3 {
                    font-size: 30px; 
                    font-weight: 700;
                    margin-top: 60px;
                    margin-bottom: 40px;
                }
            }
        }
    }
    
/* Contact style */

    .contact {
            padding-top: 3em;
        .title {
            text-align: center;
            font-size: 36px; 
            font-weight: 700;
            margin-bottom: 40px;
            padding-bottom: 20px;
        }
        .contact-content {
            
            text-align: center;
            p {
            display: inline-block;
            color: $dark-color;
            font-weight: 300;
            font-size: 1.0em;
            text-align: justify;
            padding: 0 1em;
            margin: 0 auto 60px auto;
            }
            a {
                color: $dark-color;
            }
        }
    }

/* Footer style*/

.footer {
    background-color: $dark-color;
    padding: 5px;
    .footer-container {
        text-align: center;
        font-size: 25px;
        padding-bottom: 10px;
        a {
            color: $light-color;
            padding: 8px;
        }
    }


    .copyright {
        text-align: center;
        color: $light-color;
        font-weight: 200;
        font-size: 1.0em;
        
    }

}

@import "mobile";