@import "config";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: $light-color;
    color: $dark-color;
    font-family: $font-stack;
    font-size: 1.7rem;
    line-height: 3.2rem;
}

.max-width {
    width: 1300px;
    padding: 10px 80px 0 80px;
    margin: 0 auto;
    
}

section {
    padding-top: 1em;
}

/* navbar style*/
.navbar {
    background-color: $dark-color;
    width: 100%;

    .max-width {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 200px;   /* non centro con margin: 0 auto; perche volevo che si centrasse il testo con l immagine*/
        margin-left: 355px;
       
    }
    .menu li a {
        color: $light-color;
        font-weight: 500;
        margin: 0 40px;
        transition: color 0.3 ease;
        &:hover {
            color: darken($color: $ext-color, $amount: 10);
            
        }
    }
    .menu li  {
        list-style: none;
        display: inline-block;
        border: 1px solid $light-color;
        border-left: none;
        border-top: none;
        border-bottom: none;
        
    }
    .menu li:first-of-type {
        margin-left: 60px;
    }
    .menu li:last-of-type {
        margin-right: 100px;
        border-right: none;
    }
}


/* home style */

.home {
    background-color: $dark-color;
    height: 100%;
    color: $light-color;
    min-height: 500px;
    

    .max-width {
       margin: auto;           
       display: flex;
       justify-content: center;
       align-items: center;
       
       
       img { 
        width: 55%;
        filter: grayscale(1);
         }
    }
    .home-content {

        .text-1 {
            line-height: 5rem;
            font-size: 5rem;
            font-weight:200;
            
        }
        .text-2 {
            font-size: 2rem;
            font-weight: 300;
        }
        .text-3 {
            font-weight: 300;
            font-size: 2rem;
            margin: 5px 0;
            color: $ext-color;
            font-weight: 500;
        }
        a {
            display: inline-block;
            background: $ext-color;
            color: $dark-color;
            font-size: 1.5rem;
            padding: 10px 20px;
            margin-top: 10px;
            border: 2px solid $light-color;
            border-radius: 6px;
            transition: all 0.3 ease;
            &:hover {
                color: $light-color;
                background: $dark-color;
                border-color: $light-color;
                transform: scale(0.96);
            }
        }
    }

}

/* Projects style */

 .projects {   
     padding-top: 3em;
     .title {
        text-align: center;
        font-size: 3.6rem; 
        font-weight: 700;
        margin-bottom: 60px;
        padding-bottom: 20px;
     }
     .projects-content {
        text-align: center;

        h3 {
            font-size: 2.8rem; 
            font-weight: 700;
        }
        p {
            display: inline-block;
            color: $dark-color;
            font-weight: 300;
            font-size: 1.8rem;
            text-align: justify;
            padding: 0 1em;
            margin: 10px auto 60px auto;
        }
     }
 }

/* About style */

    .about {
        color: $light-color;
        background-color: $dark-color;
        padding-top: 3em;
        .title {
            text-align: center;
            font-size: 3.6rem; 
            font-weight: 700;
            margin-bottom: 60px;
            padding-bottom: 20px;
        }

        .about-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .left {
                width: 50%;
                margin-bottom: -10px;
                img {
                    width: 400px;
                    height: 540px;
                    margin-left: 75px;
                    object-fit: cover;
                    
                   
                }
            }
            .right {
                width: 50%;
                margin-bottom: -10px;
                p {
                    display: inline-block;
                    font-weight: 300;
                    font-size: 2.2rem;
                    text-align: justify;
                    padding: 0 1.5em;
                    margin: 0 auto;
                    max-width: 540px; 
                }
                a {
                    color: $ext-color;
                }
            }
        }

        .skill-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            .skill {
                 width: 50%;
                 height: 350px;
                h3 {
                    font-size: 3rem; 
                    font-weight: 700;
                    margin-top: 50px;
                    margin-bottom: 20px;
                }
                i {
                    font-size: 3rem;
                    padding: 30px 20px;
                }
                .tooltip {
                    position: relative;
                    display: inline-block;

                    .tooltiptext {
                        visibility: hidden;
                        width: 100px;
                        
                        background-color: lighten($color: $dark-color, $amount: 30);
                        color: $light-color;
                        text-align: center;  
                        font-size: 1.6rem;                     
                        border-radius: 10px;

                        position: absolute;                       
                        bottom: 75%;
                        left: 50%;
                        margin-left: -50px;
                        
                    }
                    &:hover {
                        .tooltiptext {
                            visibility: visible;
                        }
                    }
                }
                p {
                    padding-bottom: 10px;
                }
            }
            .toolbox {
                width: 50%;
                height: 350px;
                h3 {
                    font-size: 3rem; 
                    font-weight: 700;
                    margin-top: 50px;
                    padding-bottom: 40px;
                }
                p {
                    padding-bottom: 5px;
                }

            }
        }
    }
    
/* Contact style */

    .contact {
            padding-top: 3em;
        .title {
            text-align: center;
            font-size: 3.6rem; 
            font-weight: 700;
            margin-bottom: 40px;
            padding-bottom: 20px;
        }
        .contact-content {
            
            text-align: center;
            p {
            display: inline-block;
            color: $dark-color;
            font-weight: 300;
            font-size: 1.0em;
            text-align: justify;
            padding: 0 1em;
            margin: 0 auto 60px auto;
            }
            a {
                color: $dark-color;
            }
        }
    }

/* Footer style*/

.footer {
    background-color: $dark-color;
    padding: 5px;
    .footer-container {
        text-align: center;
        font-size: 2.5rem;
        padding-bottom: 10px;
        a {
            color: $light-color;
            padding: 8px;
        }
    }


    .copyright {
        text-align: center;
        color: $light-color;
        font-weight: 300;
        font-size: 1.6rem;
        
    }

}

@import "mobile";